name: C++ Build and Python Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # ---- C++ BUILD ----
      - name: Install build tools
        run: |
          command -v g++ || sudo apt-get update && sudo apt-get install -y build-essential

      - name: Build C++ code
        run: |
          make
        # If make fails -> job fails automatically

      # ---- PYTHON SETUP ----
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Cache pip
        uses: actions/cache@v4
        with:
            path: ~/.cache/pip
            key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
            restore-keys: |
                ${{ runner.os }}-pip-

      # ---- PYTHON TESTS ----
      - name: Run Python validation tests
        run: |
          python test_calculators.py